.banner{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Salem_Witch_House_II.jpg/1200px-Salem_Witch_House_II.jpg);
    Color: orange;
    font-weight: 3000;
    margin-top: 75 px;
    text-align:center;
    height: 10000;
}
#Max-Dan{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAfQXbGCfOI9NljYebkgmZKhT3Sd4kCS5SWg&s);
    Color: orange;
    font-weight: 3000;
    height: 1000 px;
  
}

#Gables{
    background-image:url(https://m.media-amazon.com/images/I/71VY5Xepp3L._AC_UF1000,1000_QL80_.jpg);
     Color: orange;
    font-weight: 3000;
        height: 1000 px;
      
}

#WitchHouse{
    background-image:url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/the-salem-witch-house-jeff-folger.jpg);
     Color: orange;
    font-weight: 3000;
    height: 1000 px;

}
h2 {
    text-align: center;
    background-color: black;
    color:beige
}
